h1{
    text-align: center;
}

.video{
    text-align: center;
    position: relative;
    top: 100px;
}

.menu {
    text-align: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: #000;
}

.menu-ativo {
    background-color: white;
}

.menu-ativo a {
    color: blue;
}

li :hover {
    background-color: white;
    padding: 12px;
    margin: -12px;
    color: #000;
    transition: background-color 2s;
}

li {
    list-style: none;
    display: inline;
    margin-left: 20px;
    font-size: 15px;
    position: relative;
    background-color: #ff0000;
    padding: 12px;
    margin: -1px;
    
}

menu-ativo a {
    color: #ff0000;

}

.corpo{
    background-color: darkgray;
    width: 100%;
    height: 100%;
}

